<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Super awesome CSS -->
        <link rel="stylesheet" href="/css/app.css">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block content %}{% endblock %}        
        
        <!-- Dear old JavaScript -->
        <script src="/js/app.js"></script>
    </body>
</html>